*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: linear-gradient(45deg,rgb(40, 20, 131),#f06291);
    

}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.calculator{
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgb(187,130,130) ; 
    background-color: white;
    #display{
        color: yellowgreen;
        margin: 0 10px;
        height: 120px;
        width: auto;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        font-size: 30px;
        margin-bottom: 20px;
        font-weight: 700;

    }
    #equal{
        height: 130px;
    }
    #clear{
        background-color: rgb(253, 252, 152);
    }
    .btn-number{
        background-color: rgb(224, 230, 212);
        color: rgb(3, 5, 0);

    }
    .btn-operator{
        background-color: rgb(177, 128, 233);
        color: rgb(73, 75, 70);
    }ç
    .btn-equal{
        background-color: rgb(130, 102, 180);
        color: #000;
    }
    /*tema dark*/
    &.dark{
        background-color: #1B1B1B ;
        #display{
            color: #fff;
        }
        #clear{
            background-color: rgb(36, 6, 75);
            color: rgb(105, 23, 172);
        }
        .btn-number{
            background-color: rgb(55, 9, 116);
            color: rgb(156, 21, 138);
        }
        .btn-operator{
            background-color: rgb(28, 5, 58);
            color: rgb(158, 23, 147);
        }
        .btn-equal{
            background-color: rgb(36, 6, 75);
            color: rgb(148, 31, 243);
        }

    }
}

.theme-toggler{
    position: absolute;
    top: 30px;
    right: 30px;
    color: #fff;
    cursor: pointer;
    z-index: 1;
    &::before{
        content: "";
        position: absolute;
        height: 30px;
        width: 30px;
        top: 50%;
        transform: translate(-50%,-50%);
        border-radius: 50%;
        background-color: #333;
        z-index: -1;
    }
}
.theme-toggler.active{
    color: #333;
    &::before{
        background-color: rgb(73, 59, 59);
    }
}
button{
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30%;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
    &:hover{
        transform: scale(1.1);
    }
}

